{
  "openapi": "3.0.3",
  "info": {
    "title": "NFT Service APIs",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://api.bitski.com"
    }
  ],
  "paths": {
    "/contracts/{contract_id}/metadata": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "Get contract metadata",
        "description": "Get contract metadata",
        "operationId": "contract_metadata",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "description": "Your Bitski Contract ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The contract metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fee_recipient",
                    "seller_fee_basis_points"
                  ],
                  "properties": {
                    "description": {
                      "type": "string",
                      "description": "The description of the contract",
                      "example": "Best birds in web3",
                      "nullable": true
                    },
                    "external_link": {
                      "type": "string",
                      "description": "A url for the entity that owns this contract",
                      "example": "www.bitski.com/@stapleverse",
                      "nullable": true
                    },
                    "fee_recipient": {
                      "type": "string",
                      "description": "The recipient for royalties associated with sales",
                      "example": "0x8b53d6e704485ef70bd02e2a91df126935a127c9"
                    },
                    "image": {
                      "type": "string",
                      "description": "The contract image",
                      "example": "https://cdn.bitskistatic.com/tokens-raw/54676382-bab5-408d-afe2-fc6f160da4a8/06fd0294-a425-44c7-96e8-9d24757163b4.png",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the contract",
                      "example": "My Collection Of Birds",
                      "nullable": true
                    },
                    "seller_fee_basis_points": {
                      "type": "integer",
                      "format": "int64",
                      "description": "Basis points for sales 2.5% = 250",
                      "example": 250
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contracts/{contract_id}/token-metadata/{token_id}": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "Get token metadata",
        "description": "Get token metadata",
        "operationId": "token_metadata",
        "parameters": [
          {
            "name": "contract_id",
            "in": "path",
            "description": "Your Bitski Contract ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "The id of the token you want metdata for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The token metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attributes": {
                      "type": "array",
                      "items": {},
                      "description": "Token attributes",
                      "example": null
                    },
                    "background_color": {
                      "type": "string",
                      "description": "Token background color",
                      "example": null,
                      "nullable": true
                    },
                    "description": {
                      "type": "string",
                      "description": "Token description",
                      "example": "A very special NFT",
                      "nullable": true
                    },
                    "image": {
                      "type": "string",
                      "description": "The token image",
                      "example": "https://cdn.bitskistatic.com/tokens-raw/54676382-bab5-408d-afe2-fc6f160da4a8/06fd0294-a425-44c7-96e8-9d24757163b4.png",
                      "nullable": true
                    },
                    "name": {
                      "type": "string",
                      "description": "Token name",
                      "example": "NFT Token #1",
                      "nullable": true
                    },
                    "properties": {
                      "type": "object",
                      "description": "Token properties"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/contracts": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "List all your contracts",
        "description": "List all your contracts",
        "operationId": "list_contracts",
        "parameters": [
          {
            "name": "includeTokenTemplates",
            "in": "query",
            "description": "Whether to include token templates in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "isDeployed",
            "in": "query",
            "description": "Filter by deployment status",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "includeWatched",
            "in": "query",
            "description": "Filter by access type",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contracts"
                  ],
                  "properties": {
                    "contracts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Minting"
        ],
        "summary": "Creates the draft of a contract without deploying it.",
        "description": "Creates the draft of a contract without deploying it.\n\nFor external contract types like ZORA, \"create\" just imports it - you never will deploy it since its already deployed.",
        "operationId": "create_contract",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract"
                ],
                "properties": {
                  "contract": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ContractType"
                      },
                      {
                        "type": "object",
                        "required": [
                          "network"
                        ],
                        "properties": {
                          "address": {
                            "type": "string",
                            "description": "The address for this contract, if it has already been deployed",
                            "example": "0x..."
                          },
                          "description": {
                            "type": "string",
                            "description": "Contract description",
                            "example": "A collection of bird NFTs",
                            "nullable": true
                          },
                          "externalLink": {
                            "type": "string",
                            "description": "A url for the entity that owns this contract",
                            "example": "www.bitski.com/@stapleverse",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "An optional contract id",
                            "nullable": true
                          },
                          "name": {
                            "type": "string",
                            "description": "The contract name",
                            "example": "My Contract",
                            "nullable": true
                          },
                          "network": {
                            "type": "string",
                            "description": "The ethereum network for this contract",
                            "example": "mainnet"
                          },
                          "symbol": {
                            "type": "string",
                            "description": "Contract symbol",
                            "example": "BIRD",
                            "nullable": true
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "List contracts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contract"
                  ],
                  "properties": {
                    "contract": {
                      "$ref": "#/components/schemas/Contract"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/contracts/{contract_id}": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "Get details about a contract",
        "description": "Get details about a contract",
        "operationId": "get_contract",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contract_id",
            "in": "path",
            "description": "Your contract id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contract details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contract"
                  ],
                  "properties": {
                    "contract": {
                      "$ref": "#/components/schemas/Contract"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Contract not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Minting"
        ],
        "summary": "Update a contract",
        "description": "Update a contract",
        "operationId": "patch_contract",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "contract_id",
            "in": "path",
            "description": "Your contract id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "contract"
                ],
                "properties": {
                  "contract": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "deploymentState"
                        ],
                        "properties": {
                          "deploymentState": {
                            "type": "string",
                            "enum": [
                              "PENDING"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Deploys a proxy clone contract which points at a shared contract.\n\nCharges customer for the gas fee.",
                        "required": [
                          "proxyAdmin",
                          "deploymentState"
                        ],
                        "properties": {
                          "deploymentState": {
                            "type": "string",
                            "enum": [
                              "PENDING_PROXY"
                            ]
                          },
                          "proxyAdmin": {
                            "type": "string",
                            "description": "The administrative address for the contract",
                            "example": "0x137d9341d2d5311d5008d1eca56ce495ebad9538"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Use upgrade proxy if there is a new base contract you want to point the contract to.",
                        "required": [
                          "logicAddress",
                          "proxyAdmin",
                          "deploymentState"
                        ],
                        "properties": {
                          "deploymentState": {
                            "type": "string",
                            "enum": [
                              "PENDING_UPGRADE"
                            ]
                          },
                          "logicAddress": {
                            "type": "string",
                            "description": "The new logic address        #[cfg_attr(feature = \"docs\", schema(value_type = String, example = \"0x137d9341d2d5311d5008d1eca56ce495ebad9538\"))]",
                            "example": "0x4b88eab793d9715289bacbfccca26056c31cc8ad"
                          },
                          "proxyAdmin": {
                            "type": "string",
                            "description": "The new proxy admin",
                            "example": "0x137d9341d2d5311d5008d1eca56ce495ebad9538"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Mark a contract as deployed given a hash and receipt",
                        "required": [
                          "deploymentTransactionHash",
                          "receipt",
                          "deploymentState"
                        ],
                        "properties": {
                          "deploymentState": {
                            "type": "string",
                            "enum": [
                              "DEPLOYED"
                            ]
                          },
                          "deploymentTransactionHash": {
                            "type": "string",
                            "description": "the transaction hash of the deployment",
                            "example": "0xdaa10785392d5bbe00cbd6d81d93a7bf9db197e2a335e613d9f4e89717d93a63"
                          },
                          "receipt": {
                            "type": "object",
                            "description": "the transaction receipt of the deployment"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "description": "Mark the contract deployment as failed",
                        "required": [
                          "error",
                          "deploymentState"
                        ],
                        "properties": {
                          "deploymentState": {
                            "type": "string",
                            "enum": [
                              "FAILED"
                            ]
                          },
                          "error": {
                            "type": "string",
                            "example": "contract creation code storage out of gas"
                          }
                        }
                      }
                    ],
                    "discriminator": {
                      "propertyName": "deploymentState"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Updated contract details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contract"
                  ],
                  "properties": {
                    "contract": {
                      "$ref": "#/components/schemas/Contract"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Contract not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/fulfillments": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Create a fulfillment for an order",
        "description": "Create a fulfillment for an order",
        "operationId": "create_fulfillment",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "The id of your Bitski application",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fulfillment"
                ],
                "properties": {
                  "fulfillment": {
                    "allOf": [
                      {
                        "oneOf": [
                          {
                            "allOf": [
                              {
                                "$ref": "#/components/schemas/MintTokenParameters"
                              },
                              {
                                "type": "object",
                                "required": [
                                  "type"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "MINT_TOKEN"
                                    ]
                                  }
                                }
                              }
                            ]
                          }
                        ],
                        "discriminator": {
                          "propertyName": "type"
                        }
                      },
                      {
                        "type": "object",
                        "properties": {
                          "fulfillmentOrderId": {
                            "type": "string",
                            "format": "uuid",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The id of the fulfillment"
                          }
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The fulfillment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fulfillment"
                  ],
                  "properties": {
                    "fulfillment": {
                      "$ref": "#/components/schemas/Fulfillment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/fulfillments/{fulfillment_id}": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get fulfillment details",
        "description": "Get fulfillment details",
        "operationId": "get_fulfillment",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "The id of your Bitski application",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fulfillment_id",
            "in": "path",
            "description": "The id of the fulfillment",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The fulfillment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fulfillment"
                  ],
                  "properties": {
                    "fulfillment": {
                      "$ref": "#/components/schemas/Fulfillment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Commerce"
        ],
        "summary": "Update fulfillment status",
        "description": "Update fulfillment status",
        "operationId": "patch_fulfillment",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "The id of your Bitski application",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "fulfillment_id",
            "in": "path",
            "description": "The id of the fulfillment",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fulfillment"
                ],
                "properties": {
                  "fulfillment": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "transactionHash",
                          "fulfillmentState"
                        ],
                        "properties": {
                          "fulfillmentState": {
                            "type": "string",
                            "enum": [
                              "SUCCEDED"
                            ]
                          },
                          "transactionHash": {
                            "type": "string",
                            "example": "0xc705dec104b3c5b9f2395edd2bb59a2a66304fec529c569f8b613ab392354ee4"
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "error",
                          "fulfillmentState"
                        ],
                        "properties": {
                          "error": {
                            "type": "object"
                          },
                          "fulfillmentState": {
                            "type": "string",
                            "enum": [
                              "FAILED"
                            ]
                          }
                        }
                      },
                      {
                        "type": "object",
                        "required": [
                          "fulfillmentState"
                        ],
                        "properties": {
                          "fulfillmentState": {
                            "type": "string",
                            "enum": [
                              "CANCELED"
                            ]
                          }
                        }
                      }
                    ],
                    "discriminator": {
                      "propertyName": "fulfillmentState"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The fulfillment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "fulfillment"
                  ],
                  "properties": {
                    "fulfillment": {
                      "$ref": "#/components/schemas/Fulfillment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/apps/{app_id}/gates": {
      "get": {
        "tags": [
          "Token Gating"
        ],
        "summary": "List gates for an app",
        "description": "List gates for an app",
        "operationId": "list",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of gates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "gates"
                  ],
                  "properties": {
                    "gates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Gate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Token Gating"
        ],
        "summary": "Create a gate that can be later applied to a sale or droplink.",
        "description": "Create a gate that can be later applied to a sale or droplink.",
        "operationId": "create",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gate"
                ],
                "properties": {
                  "gate": {
                    "type": "object",
                    "required": [
                      "image",
                      "name",
                      "filters"
                    ],
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "In order to continue you must have a bird NFT in your wallet.",
                        "nullable": true
                      },
                      "filters": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "required": [
                            "contractId",
                            "name"
                          ],
                          "properties": {
                            "attributes": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "required": [
                                  "key",
                                  "value"
                                ],
                                "properties": {
                                  "key": {
                                    "type": "string",
                                    "example": "Level"
                                  },
                                  "value": {
                                    "type": "string",
                                    "example": "3"
                                  }
                                }
                              },
                              "nullable": true
                            },
                            "contractId": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "id": {
                              "type": "string",
                              "format": "uuid"
                            },
                            "name": {
                              "type": "string",
                              "example": "Bird contract"
                            },
                            "tokenIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "description": "the blockchain token id, hex or decimal format accepted",
                              "example": "0x1",
                              "nullable": true
                            }
                          }
                        }
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "image": {
                        "type": "string",
                        "example": "https://cdn.bitskistatic.com/tokens-raw/54676382-bab5-408d-afe2-fc6f160da4a8/06fd0294-a425-44c7-96e8-9d24757163b4.png"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "isPublished": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string",
                        "example": "Must hold a bird NFT to continue."
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The new gate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "gate"
                  ],
                  "properties": {
                    "gate": {
                      "$ref": "#/components/schemas/Gate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/gates/{gate_id}": {
      "get": {
        "tags": [
          "Token Gating"
        ],
        "summary": "Gets details about a gate.",
        "description": "Gets details about a gate.",
        "operationId": "get",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "gate_id",
            "in": "path",
            "description": "The gate id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The gate details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "gate"
                  ],
                  "properties": {
                    "gate": {
                      "$ref": "#/components/schemas/Gate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Token Gating"
        ],
        "summary": "Update a gate.",
        "description": "Update a gate.",
        "operationId": "update",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski application id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "gate_id",
            "in": "path",
            "description": "The gate id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "gate"
                ],
                "properties": {
                  "gate": {
                    "type": "object",
                    "required": [
                      "image",
                      "isActive",
                      "isPublished",
                      "name",
                      "filters"
                    ],
                    "properties": {
                      "description": {
                        "type": "string",
                        "example": "In order to continue you must have a bird NFT in your wallet.",
                        "nullable": true
                      },
                      "filters": {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/GateFilter"
                        }
                      },
                      "image": {
                        "type": "string",
                        "example": "https://cdn.bitskistatic.com/tokens-raw/54676382-bab5-408d-afe2-fc6f160da4a8/06fd0294-a425-44c7-96e8-9d24757163b4.png"
                      },
                      "isActive": {
                        "type": "boolean"
                      },
                      "isPublished": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string",
                        "example": "Must hold a bird NFT to continue."
                      }
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated gate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "gate"
                  ],
                  "properties": {
                    "gate": {
                      "$ref": "#/components/schemas/Gate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/token-templates": {
      "get": {
        "tags": [
          "Minting"
        ],
        "operationId": "get_token_templates",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The total number of results to display",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The starting index of the results to display\n\ne.g. for page 2 listing 10 items offset is 10.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true,
              "minimum": 0
            }
          },
          {
            "name": "isDropLink",
            "in": "query",
            "description": "Filter out token templates used for drop links.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of token templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokenTemplates"
                  ],
                  "properties": {
                    "tokenTemplates": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenTemplate"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Minting"
        ],
        "operationId": "create_token_template",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tokenTemplate"
                ],
                "properties": {
                  "auction": {
                    "allOf": [
                      {
                        "type": "object",
                        "required": [
                          "info"
                        ],
                        "properties": {
                          "auctionContractId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The on-chain auction contract",
                            "nullable": true
                          },
                          "endsAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time the auction ends",
                            "nullable": true
                          },
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The id of the auction"
                          },
                          "info": {
                            "type": "object",
                            "required": [
                              "automaticSettlement"
                            ],
                            "properties": {
                              "automaticSettlement": {
                                "type": "boolean",
                                "description": "If the auction charges the user's payment method on file.\n\nFalse if payment will be settled offline via ACH or other preferred method."
                              },
                              "minBid": {
                                "type": "string",
                                "description": "The minimum starting bid for the auction",
                                "example": "100.00"
                              }
                            }
                          },
                          "startsAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "The time the auction starts",
                            "nullable": true
                          },
                          "tokenId": {
                            "type": "string",
                            "format": "uuid",
                            "description": "The token that is being auctioned"
                          }
                        }
                      }
                    ],
                    "nullable": true
                  },
                  "tokenTemplate": {
                    "$ref": "#/components/schemas/TokenTemplate"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "New token template",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokenTemplate",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "The optional auction associated with these tokens"
                    },
                    "tokenTemplate": {
                      "$ref": "#/components/schemas/TokenTemplate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/token-templates/{token_template_id}": {
      "get": {
        "tags": [
          "Minting"
        ],
        "operationId": "token_template",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_template_id",
            "in": "path",
            "description": "The token template id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The token template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokenTemplate",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "The optional auction associated with these tokens"
                    },
                    "tokenTemplate": {
                      "$ref": "#/components/schemas/TokenTemplate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Store not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "put": {
        "tags": [
          "Minting"
        ],
        "operationId": "update_token_template",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_template_id",
            "in": "path",
            "description": "The token template id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tokenTemplate"
                ],
                "properties": {
                  "auctions": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "info"
                      ],
                      "properties": {
                        "auctionContractId": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The on-chain auction contract",
                          "nullable": true
                        },
                        "endsAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the auction ends",
                          "nullable": true
                        },
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The id of the auction"
                        },
                        "info": {
                          "type": "object",
                          "required": [
                            "automaticSettlement"
                          ],
                          "properties": {
                            "automaticSettlement": {
                              "type": "boolean",
                              "description": "If the auction charges the user's payment method on file.\n\nFalse if payment will be settled offline via ACH or other preferred method."
                            },
                            "minBid": {
                              "type": "string",
                              "description": "The minimum starting bid for the auction",
                              "example": "100.00"
                            }
                          }
                        },
                        "startsAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "The time the auction starts",
                          "nullable": true
                        },
                        "tokenId": {
                          "type": "string",
                          "format": "uuid",
                          "description": "The token that is being auctioned"
                        }
                      }
                    },
                    "nullable": true
                  },
                  "tokenTemplate": {
                    "$ref": "#/components/schemas/TokenTemplate"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "tokenTemplate",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "The optional auction associated with these tokens"
                    },
                    "tokenTemplate": {
                      "$ref": "#/components/schemas/TokenTemplate"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Store not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/tokens": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "List tokens",
        "description": "List tokens",
        "operationId": "get_tokens",
        "parameters": [
          {
            "name": "privateMetadata",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contractAddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0xa4ef984773fd233c4cbed9cb1b905a3fa21e9461"
          },
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x01"
          },
          {
            "name": "networkId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "mainnet"
          },
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "contracts",
                    "tokens",
                    "redemptionCodes",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "The list auctions for this set of tokens"
                    },
                    "contracts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Contract"
                      },
                      "description": "A list of contracts for the set of tokens"
                    },
                    "redemptionCodes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClaimCode"
                      },
                      "description": "The list redemption codes for this set of tokens"
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Token"
                      },
                      "description": "The list of tokens"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Minting"
        ],
        "summary": "Create a new token",
        "description": "Create a new token",
        "operationId": "create_token",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "initialOwner": {
                    "type": "string",
                    "description": "The initial address this token will be minted to.",
                    "example": "0xa4ef984773fd233c4cbed9cb1b905a3fa21e9461"
                  },
                  "token": {
                    "type": "object",
                    "properties": {
                      "animationUrl": {
                        "type": "string",
                        "description": "Token animation url",
                        "example": null,
                        "nullable": true
                      },
                      "backgroundColor": {
                        "type": "string",
                        "description": "Token background color",
                        "example": "#000000",
                        "nullable": true
                      },
                      "contractId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The id of the contract for this token"
                      },
                      "description": {
                        "type": "string",
                        "description": "Token description",
                        "example": "A great token",
                        "nullable": true
                      },
                      "externalUrl": {
                        "type": "string",
                        "description": "A url for the entity that created this token",
                        "example": null,
                        "nullable": true
                      },
                      "image": {
                        "type": "string",
                        "description": "The token metadata image",
                        "example": "https://cdn.bitskistatic.com/tokens-raw/54676382-bab5-408d-afe2-fc6f160da4a8/06fd0294-a425-44c7-96e8-9d24757163b4.png",
                        "nullable": true
                      },
                      "metadata": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/TokenMetadata"
                          }
                        ],
                        "nullable": true
                      },
                      "name": {
                        "type": "string",
                        "description": "Token name",
                        "example": "Bird NFT",
                        "nullable": true
                      },
                      "state": {
                        "type": "string",
                        "description": "Token state",
                        "example": "AVAILABLE",
                        "nullable": true
                      },
                      "tokenId": {
                        "type": "string",
                        "description": "The token id",
                        "example": "0x1",
                        "nullable": true
                      },
                      "tokenTemplateId": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The id of the token template for this token",
                        "nullable": true
                      },
                      "youtubeUrl": {
                        "type": "string",
                        "description": "Token youtube url",
                        "example": null,
                        "nullable": true
                      }
                    }
                  },
                  "transaction": {
                    "allOf": [
                      {
                        "type": "object",
                        "properties": {
                          "from": {
                            "type": "string",
                            "description": "The address that will mint this token",
                            "example": "0xa4ef984773fd233c4cbed9cb1b905a3fa21e9461"
                          },
                          "gas": {
                            "type": "string",
                            "description": "The amount of gas for this transaction",
                            "example": "0xd9cb1b905"
                          },
                          "gasPrice": {
                            "type": "string",
                            "description": "The price of gas for this transaction",
                            "example": "0xe8cb1b9"
                          }
                        }
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The updated template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "An optional set of associated auctions"
                    },
                    "token": {
                      "$ref": "#/components/schemas/Token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/apps/{app_id}/tokens/{token_id}": {
      "get": {
        "tags": [
          "Minting"
        ],
        "summary": "Get token details",
        "description": "Get token details",
        "operationId": "get_token",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "The token id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "An optional set of associated auctions"
                    },
                    "token": {
                      "$ref": "#/components/schemas/Token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Minting"
        ],
        "summary": "Update token details",
        "description": "Update token details",
        "operationId": "update_token",
        "parameters": [
          {
            "name": "app_id",
            "in": "path",
            "description": "Your Bitski Application ID",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token_id",
            "in": "path",
            "description": "The token id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "object",
                    "description": "The updated token details"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated template details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "token",
                    "auctions"
                  ],
                  "properties": {
                    "auctions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Auction"
                      },
                      "description": "An optional set of associated auctions"
                    },
                    "token": {
                      "$ref": "#/components/schemas/Token"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "apps"
            ]
          }
        ]
      }
    },
    "/v1/auctions/{auction_id}": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get details about an auction",
        "description": "Get details about an auction",
        "operationId": "get_auction_info",
        "parameters": [
          {
            "name": "auction_id",
            "in": "path",
            "description": "The id of the auction",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The auction details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "auction"
                  ],
                  "properties": {
                    "auction": {
                      "$ref": "#/components/schemas/AuctionInfo"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Auction not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/claim-codes/claims/unclaimed": {
      "get": {
        "tags": [
          "Droplinks"
        ],
        "summary": "Get unclaimed codes.",
        "description": "Get unclaimed codes.\n\nReturns available claim codes matching the passed in ids that the current\nuser has not yet claimed.",
        "operationId": "get_unclaimed_codes",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "description": "A list of comma separated ids",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A set of available unclaimed codes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "claim_codes"
                  ],
                  "properties": {
                    "claim_codes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "claim_code",
                          "network",
                          "token_metadata"
                        ],
                        "properties": {
                          "claim_code": {
                            "$ref": "#/components/schemas/ClaimCode"
                          },
                          "network": {
                            "type": "string",
                            "description": "The ethereum network for this code",
                            "example": "mainnet"
                          },
                          "token_metadata": {
                            "$ref": "#/components/schemas/TokenMetadata"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v1/claim-codes/{claim_code_id_or_code}": {
      "get": {
        "tags": [
          "Droplinks"
        ],
        "summary": "Get a claim code by its id or code",
        "description": "Get a claim code by its id or code",
        "operationId": "get",
        "parameters": [
          {
            "name": "claim_code_id_or_code",
            "in": "path",
            "description": "Claim code id or code",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bcc5d460-bec9-43ad-952a-9641514a6e7b"
          }
        ],
        "responses": {
          "200": {
            "description": "Get details about a claim code",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "claimCode",
                    "network",
                    "tokenMetadata",
                    "claimCodeThemes"
                  ],
                  "properties": {
                    "claimCode": {
                      "$ref": "#/components/schemas/ClaimCode"
                    },
                    "claimCodeThemes": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ClaimCodeTheme"
                      },
                      "description": "The theme for the claim code"
                    },
                    "network": {
                      "type": "string",
                      "description": "The ethereum network name",
                      "example": "mainnet"
                    },
                    "tokenMetadata": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TokenMetadata"
                      },
                      "description": "The token metadata for the claim"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Contract not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "message": "Not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/claims": {
      "post": {
        "tags": [
          "Droplinks"
        ],
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "claim"
                ],
                "properties": {
                  "claim": {
                    "type": "object",
                    "required": [
                      "claimCodeId",
                      "destination"
                    ],
                    "properties": {
                      "claimCodeId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "destination": {
                        "$ref": "#/components/schemas/BlockchainAccountIdentifier"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      }
                    }
                  },
                  "siwe": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/Siwe"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The created claim",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "claim",
                    "tokens"
                  ],
                  "properties": {
                    "claim": {
                      "$ref": "#/components/schemas/Claim"
                    },
                    "tokens": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Token"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/v1/gates/check": {
      "get": {
        "tags": [
          "Token Gating"
        ],
        "operationId": "check",
        "parameters": [
          {
            "name": "wallet",
            "in": "query",
            "description": "The wallet address of the current user",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "gateIds",
            "in": "query",
            "description": "The gate ids to check",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "If access is granted or not",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "allowed": true
                }
              }
            }
          }
        }
      }
    },
    "/v1/orders": {
      "post": {
        "tags": [
          "Commerce"
        ],
        "summary": "Create a new pending order.",
        "description": "Create a new pending order.\n\nNo payment or fulfillment is completed on create order.\n\nA payment intent is created and associated to the order to track sales that\nmay not be completed.",
        "operationId": "create_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Params to create a new pending order",
                "required": [
                  "order",
                  "payment"
                ],
                "properties": {
                  "order": {
                    "type": "object",
                    "required": [
                      "currency",
                      "items",
                      "recipient"
                    ],
                    "properties": {
                      "currency": {
                        "$ref": "#/components/schemas/Currency"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The id of the order"
                      },
                      "items": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "The order item that a client sends in.",
                          "required": [
                            "productId"
                          ],
                          "properties": {
                            "itemId": {
                              "type": "string",
                              "format": "uuid",
                              "description": "Optional item ID identifying a unique item",
                              "nullable": true
                            },
                            "productId": {
                              "type": "string",
                              "format": "uuid",
                              "description": "The id of the product"
                            },
                            "quantity": {
                              "type": "integer",
                              "format": "int64",
                              "description": "The quantity of the product selected"
                            }
                          }
                        },
                        "description": "The items in this order"
                      },
                      "recipient": {
                        "type": "object",
                        "required": [
                          "destinationAddress"
                        ],
                        "properties": {
                          "customerEmail": {
                            "type": "string",
                            "description": "The email of the customer",
                            "example": "john@example.com",
                            "nullable": true
                          },
                          "customerName": {
                            "type": "string",
                            "description": "The name of the customer",
                            "example": "John Doe",
                            "nullable": true
                          },
                          "destinationAddress": {
                            "type": "string",
                            "description": "The destination address of the customer",
                            "example": "0xa4ef984773fd233c4cbed9cb1b905a3fa21e9461"
                          }
                        }
                      }
                    }
                  },
                  "payment": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "uuid",
                        "description": "The id of the payment"
                      },
                      "onChainPayload": {
                        "description": "For on chain orders, an optional payload that will be used to valide the order",
                        "nullable": true
                      },
                      "paymentMethodDescription": {
                        "type": "string",
                        "description": "The payment method description",
                        "example": "Visa 4111",
                        "nullable": true
                      },
                      "paymentMethodId": {
                        "type": "string",
                        "description": "The payment method to be used",
                        "example": "pm_card_visa",
                        "nullable": true
                      }
                    }
                  },
                  "processorCustomerId": {
                    "type": "string",
                    "description": "The processor customer id for this order",
                    "example": "cus_9s6XeO1kXqpwST",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "order",
                    "payment"
                  ],
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "payment": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "commerce"
            ]
          }
        ]
      }
    },
    "/v1/orders/{order_id}": {
      "get": {
        "tags": [
          "Commerce"
        ],
        "summary": "Get details for an existing order.",
        "description": "Get details for an existing order.",
        "operationId": "get_order",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The id of the order",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "order"
                  ],
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "commerce"
            ]
          }
        ]
      }
    },
    "/v1/orders/{order_id}/payments/{payment_id}": {
      "patch": {
        "tags": [
          "Commerce"
        ],
        "summary": "Update a payment for an order.",
        "description": "Update a payment for an order.\n\nAttempts to process the associated payment.\n\nIf successful, inventory is reserved and fulfillment begins.",
        "operationId": "patch_order_payment",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "The id of the order",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "payment_id",
            "in": "path",
            "description": "The id of the payment",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "payment"
                ],
                "properties": {
                  "payment": {
                    "oneOf": [
                      {
                        "type": "object",
                        "required": [
                          "status"
                        ],
                        "properties": {
                          "doublePaymentCheck": {
                            "type": "boolean",
                            "description": "If there is a double payment check"
                          },
                          "onChainPayload": {
                            "description": "On chain order payload",
                            "nullable": true
                          },
                          "paymentMethodId": {
                            "type": "string",
                            "description": "The payment method id",
                            "example": "pm_card_visa",
                            "nullable": true
                          },
                          "returnUrl": {
                            "type": "string",
                            "description": "The post-payment return url",
                            "example": null,
                            "nullable": true
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "completed"
                            ]
                          }
                        }
                      }
                    ],
                    "discriminator": {
                      "propertyName": "status"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order and payment details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "order",
                    "payment"
                  ],
                  "properties": {
                    "order": {
                      "$ref": "#/components/schemas/Order"
                    },
                    "payment": {
                      "$ref": "#/components/schemas/Payment"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 401,
                    "message": "The request could not be authorized",
                    "request": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "Unauthorized"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "error": {
                    "code": 404,
                    "message": "Not found",
                    "request": "4fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "status": "NotFound"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "commerce"
            ]
          }
        ]
      }
    },
    "/v1/products": {
[...]
